#negative {
	color: #f00;
}
#small {
	 font-size: 9px; 
}
#Main {
	position:absolute;
	left: 20%;
	top: 0;
	/* width: 300px; */
	height: auto;
	z-index:2;


}
#Main t1{/* */
	/* width: 300px; */
}

#Totals{
	position:absolute;
	left: 100%;
	top: 0;
	right: 1%;
	/* width:100%; */
	height: auto;
	z-index:4;
}
#Bills {
	position:absolute;
	left: 1%;
	top: 0;
	width: 19%;
	height: auto;
	z-index:1;
	/* 
	width: 19%;
	margin-right: 0%;
	margin-left: 1%;
	/*	position:relative;s
	height: auto; */
	
	/*font-family: Tahoma, Geneva, sans-serif;
	/* font-size: 8px; */
/* 	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal; */
	/*text-transform: capitalize;
	/*color: #000FFF;
	/*text-decoration: underline overline line-through blink;*/
}
#Bills li{
	text-align: right;
	list-style: none;
}
#Bills table{
	border-width: 3;
	
}
#Bills input{
/*style=\"height: 1.5em; width: 4.5em\"
style=\"height: 1.5em; width: 3em\"*/
	font-size: 6pt;
	height: 1.7em;
	width: 3em;
	
}
#Bills table tr{
	font-size: 9px;
	text-align:left; 
	
}
 
#Bills table td{
	width: 20%;
}

#newtr {
	position:relative;
	left: -20%;
	height: auto;
	z-index:5;
}
