#Bills 
{
	width:260px;
}

#Bills ul
{
	width:270px;
}

#Bills ul li.ftr_total
{
	width:140px;
}
#leftColumn
{
	left:275px;
}

#rightColumn
 {
	left:535px;
}

#Totals 
{
	left:715px;
}